* {
	/* background: yellow; */
	margin: 0;
	padding: 0;
	
}

#title-favorite-progress {
    display: flex;
    justify-content: space-between;
}

#btn-add-favorite {
	z-index: 9999;
	cursor: pointer;
	font-size: 30pt;
}

.card-container {
	display: flex;
}
