* {
	/* background: yellow; */
	margin: 0;
	padding: 0;
	
}

#title-manga-progress {
    display: flex;
    justify-content: space-between;
}

#btn-add-manga-progress {
	z-index: 9999;
	cursor: pointer;
	font-size: 30pt;
}

#header-manga-progress {
	
}

.card-container {
	display: flex;
}
